github:
    asset-remove:
        file: ~
        user: ~
        project: ~
        tag: ~
    asset-upload:
        file: ~
        user: ~
        project: ~
        tag: ~
    release-edit:
        user: ~
        project: ~
        tag: ~
        name: ~
        body: ~
    release-create:
        user: ~
        project: ~
        tag: ~
        target: ~
        name: ~
        body: ~

commands:
    github:asset-remove:
        description: Upload a file (asset) to a Github release.
        tasks:
            -
                task: github.asset.remove
                file: ${github.asset-remove.file}
                user: ${github.asset-remove.user}
                project: ${github.asset-remove.project}
                token: ${github.token}
                tag: ${github.asset-remove.tag}
        options:
            file:
                config: github.asset-remove.file
                description: 'The asset file to remove.'
                mode: 2
                default: null
            user:
                config: github.asset-remove.user
                description: 'The user.'
                mode: 2
                default: null
            project:
                config: github.asset-remove.project
                description: 'The project.'
                mode: 2
                default: null
            token:
                config: github.token
                description: 'The Github token'
                mode: 2
                default: null
            tag:
                config: github.asset-remove.tag
                description: 'The release tag.'
                mode: 2
                default: null

    github:asset-upload:
        description: Upload a file (asset) to a Github release.
        tasks:
            -
                task: github.asset.upload
                file: ${github.asset-upload.file}
                user: ${github.asset-upload.user}
                project: ${github.asset-upload.project}
                token: ${github.token}
                tag: ${github.asset-upload.tag}
        options:
            file:
                config: github.asset-upload.file
                description: 'The asset file to upload.'
                mode: 2
                default: null
            user:
                config: github.asset-upload.user
                description: 'The user.'
                mode: 2
                default: null
            project:
                config: github.asset-upload.project
                description: 'The project.'
                mode: 2
                default: null
            token:
                config: github.token
                description: 'The Github token'
                mode: 2
                default: null
            tag:
                config: github.asset-upload.tag
                description: 'The release tag.'
                mode: 2
                default: null

    github:release-edit:
        description: Edit a Github release.
        tasks:
            -
                task: github.release.edit
                user: ${github.release-edit.user}
                project: ${github.release-edit.project}
                token: ${github.token}
                tag: ${github.release-edit.tag}
                body: ${github.release-edit.body}
                name: ${github.release-edit.name}
        options:
            user:
                config: github.release-edit.user
                description: 'The user.'
                mode: 2
                default: null
            project:
                config: github.release-edit.project
                description: 'The project.'
                mode: 2
                default: null
            token:
                config: github.token
                description: 'The Github token'
                mode: 2
                default: null
            tag:
                config: github.release-edit.tag
                description: 'The release tag.'
                mode: 2
                default: null
            body:
                config: github.release-edit.body
                description: 'The release body.'
                mode: 4
                default: null
            name:
                config: github.release-edit.name
                description: 'The release name.'
                mode: 4
                default: null

    github:release-create:
        description: Create a Github release.
        tasks:
            -
                task: github.release.create
                user: ${github.release-create.user}
                project: ${github.release-create.project}
                token: ${github.token}
                tag: ${github.release-create.tag}
                target: ${github.release-create.target}
                body: ${github.release-create.body}
                name: ${github.release-create.name}
        options:
            user:
                config: github.release-create.user
                description: 'The user.'
                mode: 2
                default: null
            project:
                config: github.release-create.project
                description: 'The project.'
                mode: 2
                default: null
            token:
                config: github.token
                description: 'The Github token'
                mode: 2
                default: null
            tag:
                config: github.release-create.tag
                description: 'The release tag.'
                mode: 2
                default: null
            target:
                config: github.release-create.target
                description: 'The release tag commit.'
                mode: 4
                default: null
            body:
                config: github.release-create.body
                description: 'The release body.'
                mode: 4
                default: null
            name:
                config: github.release-create.name
                description: 'The release name.'
                mode: 4
                default: null







